
.heading23 {
  background: linear-gradient(
    90deg,
    #501e9c,
    #8169f1 30%,
    #8169f1 30%,
    #a44cee 73%,
    #ff847f
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.smallProject1 {
  position: absolute;
  top: 384px;
  left: calc(50% - 50.55px);
  font-size: 13px;
  line-height: 22.1px;
  color: #999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 101.45px;
  height: 16px;
}
.divteamCard2 {
  position: absolute;
  width: calc(100% - 907.5px);
  top: 206.18px;
  right: 307.5px;
  left: 600px;
  border-radius: 20px;
  background-color: #fff;
  height: 428.09px;
}
.linkHeading7 {
  position: absolute;
  top: 360px;
  left: calc(50% - 67.89px);
  line-height: 21px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 136.09px;
  height: 21px;
}
.smallMarketing1 {
  position: absolute;
  top: 384px;
  left: calc(50% - 53.89px);
  font-size: 13px;
  line-height: 22.1px;
  color: #999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 108.15px;
  height: 16px;
}
.divteamCard3 {
  position: absolute;
  width: calc(100% - 907.5px);
  top: 206.18px;
  right: 15px;
  left: 892.5px;
  border-radius: 20px;
  background-color: #fff;
  height: 428.09px;
}
.divcontainer1 {
  position: absolute;
  top: 100px;
  left: calc(50% - 585px);
  width: 1170px;
  height: 664.28px;
}
.mainSection1 {
  position: relative;
  border-radius: 30px;
  background-color: #f1f2fa;
  width: 100%;
  height: 864.28px;
  text-align: center;
  font-size: 15px;
  color: #000;
  font-family: Inter;
}

.social-icons {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  z-index: 5;
}

.social-icons a {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  color: #666;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 11px;
  -webkit-transform: translateY(80px);
  -ms-transform: translateY(80px);
  transform: translateY(80px);
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.fab {
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
}
