span {
  background: linear-gradient(
    90deg,
    #501e9c,
    #8169f1 30%,
    #8169f1 30%,
    #a44cee 73%,
    #ff847f
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
}

.show {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  width: 33%;
  border-right: 1px solid #9993;
  padding: 8px 0;
}

.show img {
  filter: drop-shadow(-10px 10px 20px #084cba77);
  -webkit-animation: blinker 1s ease-in-out infinite alternate both;
  animation: blinker 1s ease-in-out infinite alternate both;
}

@keyframes blinker {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}


.detail{
  position: relative;
    border-top: 10px solid #6640f4;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    padding: 100px 15px
}

/* .atrate {
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom-left-radius: 30px;
  pointer-events: none;
  max-width: 20%;
}

.dmail {
  position: absolute;
  right: -150px;
  top: 100px;
  border-bottom-left-radius: 30px;
  pointer-events: none;
  max-width: 30%;
} */
