span {
  background: linear-gradient(
    90deg,
    #501e9c,
    #8169f1 30%,
    #8169f1 30%,
    #a44cee 73%,
    #ff847f
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
}

.section-padding {
  padding: 4rem 0;
}

.show {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  width: 33%;
  border-right: 1px solid #9993;
  padding: 8px 0;
}

.show img {
  filter: drop-shadow(-10px 10px 20px #084cba77);
  -webkit-animation: blinker 1s ease-in-out infinite alternate both;
  animation: blinker 1s ease-in-out infinite alternate both;
}

@keyframes blinker {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.detail {
  position: relative;
  border-top: 10px solid #6640f4;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  padding: 100px 15px;
}

.detail::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(
    45deg,
    transparent,
    #def1fa,
    transparent,
    #e8e8f3,
    transparent
  );
  background: -o-linear-gradient(
    45deg,
    transparent,
    #def1fa,
    transparent,
    #e8e8f3,
    transparent
  );
  background: linear-gradient(
    45deg,
    transparent,
    #def1fa,
    transparent,
    #e8e8f3,
    transparent
  );
  background-size: 400% 400%;
  -webkit-animation: change 20s linear infinite;
  animation: change 20s linear infinite;
  border-radius: 30px;
  overflow: hidden;
}

@keyframes change {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.form-control,
.form-select {
  border: 1px solid #9994;
  border-radius: 30px;
  min-height: 50px;
  font-size: 12px;
  padding: 10px 25px;
}

.btn {
  padding: 12px 30px;
  position: relative;
  overflow: hidden;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.atrate {
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom-left-radius: 30px;
  pointer-events: none;
  max-width: 20%;
}

.dmail {
  position: absolute;
  top: 60px;
  right: -40px;
  max-width: 24%;
}

@media screen and (max-width: 991px) {
  .showall {
    flex-direction: column;
    border-radius: 20px !important;
  }

  .show {
    width: 100%;
    -ms-flex-pack: start;
    justify-content: start;
    padding: 30px !important;
  }
}

.contact {
  text-align: center;
  margin-bottom: 2rem;
}
.xs {
  font-size: 0.75rem;
  line-height: 1rem;
  background-color: #f7f4ff;
  color: #5842bc;
  margin-bottom: 1.25rem;
  padding: 5px 10px;
  border-radius: 5px;
}
.git {
  margin: 2.5rem;
  color: #000;
  font-size: 2.25rem;
  line-height: 2.5rem;
}
.touch {
  margin: 0.5rem;
}
.c24 {
  margin: 0px;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.showall {
  border-width: 1px;
  display: flex;
  padding: 0.75rem 0;
  border-style: solid;
  border-color: #9993;
}
.mmm {
  margin-right: 1rem;
  width: 2.5rem;
  height: 2.5rem;
}
.com {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #000;
  font-family: bold;
  line-height: 1.1;
  margin-bottom: 0;
}
.fill {
  justify-content: center;
}
.mark {
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: center;
  margin-bottom: 1.5rem;
  color: #dc3545;
  background-color: #f2f2f8;
}
